# Exercise 2

## NAMA      : FENDI PRABOWO 
## KELAS     : BIGDATA C

Load sample database

In [2]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

Show Tables

In [2]:
run("SHOW TABLES")

  Tables_in_classicmodels
0               customers
1               employees
2                 offices
3            orderdetails
4                  orders
5                payments
6            productlines
7                products

## One to many relationship

### 1. Report the account representative for each customer.

In [6]:
run("""
SELECT 
    customerNumber, 
    customerName, 
    CONCAT(firstName, ' ', lastName) AS representativeName,
    employeeNumber AS representativeNumber
FROM
    customers c
        INNER JOIN
    employees e ON c.salesRepEmployeeNumber = e.employeeNumber
""")

,customerNumber,customerName,representativeName,representativeNumber
0,124,Mini Gifts Distributors Ltd.,Leslie Jennings,1165
1,129,Mini Wheels Co.,Leslie Jennings,1165
2,161,Technics Stores Inc.,Leslie Jennings,1165
3,321,Corporate Gift Ideas Co.,Leslie Jennings,1165
4,450,The Sharp Gifts Warehouse,Leslie Jennings,1165
5,487,Signal Collectibles Ltd.,Leslie Jennings,1165
6,112,Signal Gift Stores,Leslie Thompson,1166
7,205,Toys4GrownUps.com,Leslie Thompson,1166
8,219,Boards & Toys Co.,Leslie Thompson,1166
9,239,Collectable Mini Designs Co.,Leslie Thompson,1166
10,347,"Men 'R' US Retailers, Ltd.",Leslie Thompson,1166
11,475,West Coast Collectables Co.,Leslie Thompson,1166
12,173,Cambridge Collectables Co.,Julie Firrelli,1188
13,204,Online Mini Collectables,Julie Firrelli,1188
14,320,Mini Creations Ltd.,Julie Firrelli,1188
15,339,"Classic Gift Ideas, Inc",Julie Firrelli,1188
16,379,Collectables For Less Inc.,Julie Firrelli,1188
17,495,Diecast Collectables,Julie Firrelli,1188
18,157,Diecast Classics Inc.,Steve Patterson,1216
19,198,Auto-Moto Classics Inc.,Steve Patterson,1216
20,286,Marta's Replicas Co.,Steve Patterson,1216
21,362,Gifts4AllAges.com,Steve Patterson,1216
22,363,Online Diecast Creations Co.,Steve Patterson,1216
23,462,FunGiftIdeas.com,Steve Patterson,1216
24,151,Muscle Machine Inc,Foon Yue Tseng,1286
25,168,American Souvenirs Inc,Foon Yue Tseng,1286
26,181,Vitachrome Inc.,Foon Yue Tseng,1286
27,233,Québec Home Shopping Network,Foon Yue Tseng,1286
28,424,Classic Legends Inc.,Foon Yue Tseng,1286
29,455,Super Scale Inc.,Foon Yue Tseng,1286
...,...,...,...,...
70,121,Baane Mini Imports,Barry Jones,1504
71,128,"Blauer See Auto, Co.",Barry Jones,1504
72,144,"Volvo Model Replicas, Co",Barry Jones,1504
73,167,Herkku Gifts,Barry Jones,1504
74,189,"Clover Collections, Co.",Barry Jones,1504
75,259,"Toms Spezialitäten, Ltd",Barry Jones,1504
76,299,"Norway Gifts By Mail, Co.",Barry Jones,1504
77,415,"Bavarian Collectables Imports, Co.",Barry Jones,1504
78,448,Scandinavian Gift Ideas,Barry Jones,1504
79,114,"Australian Collectors, Co.",Andy Fixter,1611
80,276,"Anna's Decorations, Ltd",Andy Fixter,1611
81,282,Souveniers And Things Co.,Andy Fixter,1611
82,333,"Australian Gift Network, Co",Andy Fixter,1611
83,471,"Australian Collectables, Ltd",Andy Fixter,1611
84,166,Handji Gifts& Co,Peter Marsh,1612
85,323,"Down Under Souveniers, Inc",Peter Marsh,1612
86,357,GiftsForHim.com,Peter Marsh,1612
87,412,"Extreme Desk Decorations, Ltd",Peter Marsh,1612
88,496,Kelly's Gift Shop,Peter Marsh,1612
89,148,"Dragon Souveniers, Ltd.",Mami Nishi,1621
90,177,Osaka Souveniers Co.,Mami Nishi,1621
91,211,"King Kong Collectables, Co.",Mami Nishi,1621
92,385,Cruz & Sons Co.,Mami Nishi,1621
93,398,"Tokyo Collectables, Ltd",Mami Nishi,1621
94,216,Enaco Distributors,Martin Gerard,1702
95,298,"Vida Sport, Ltd",Martin Gerard,1702
96,344,CAF Imports,Martin Gerard,1702
97,376,Precious Collectables,Martin Gerard,1702
98,458,"Corrida Auto Replicas, Ltd",Martin Gerard,1702
99,484,"Iberia Gift Imports, Corp.",Martin Gerard,1702

### 2. Report total payments for Atelier graphique.

In [7]:
run("""
SELECT 
    customerNumber, 
    customerName, 
    SUM(amount) AS totalPayments
FROM
    customers
        INNER JOIN
    payments USING(customerNumber)
WHERE customerName='Atelier graphique'
""")

   customerNumber       customerName  totalPayments
0             103  Atelier graphique       22314.36

### 3. Report the total payments by date

In [11]:
run("""
SELECT 
    customerNumber, 
    customerName,
    paymentDate,
    SUM(amount) AS totalPayments
FROM
    customers
        INNER JOIN
    payments USING(customerNumber)
GROUP BY
    paymentDate
""")

     customerNumber                  customerName paymentDate  totalPayments
0               363  Online Diecast Creations Co.  2003-01-16       10223.83
1               128          Blauer See Auto, Co.  2003-01-28       10549.01
2               181               Vitachrome Inc.  2003-01-30        5494.78
3               121            Baane Mini Imports  2003-02-16       50218.95
4               145      Danish Wholesale Imports  2003-02-20       53959.21
5               141        Euro+ Shopping Channel  2003-02-25       40206.20
6               278                 Rovelli Gifts  2003-03-02       52151.81
7               385               Cruz & Sons Co.  2003-03-09       51001.22
8               131             Land of Toys Inc.  2003-03-12       22292.62
9               486  Motor Mint Distributors Inc.  2003-03-20       25833.14
10              187                AV Stores, Co.  2003-03-27       48425.69
11              129               Mini Wheels Co.  2003-04-09       24212.79
12              124  Mini Gifts Distributors Ltd.  2003-04-11       11044.30
13              424          Classic Legends Inc.  2003-04-16       21665.98
14              381                  Royale Belge  2003-04-19        1627.56
15              172     La Corne D'abondance, Co.  2003-04-20       33383.14
16              148       Dragon Souveniers, Ltd.  2003-04-22       44380.15
17              216            Enaco Distributors  2003-05-09        3101.40
18              382         Salzburg Collectables  2003-05-12       35826.33
19              114    Australian Collectors, Co.  2003-05-20       45864.03
20              353            Reims Collectables  2003-05-21       16700.47
21              350          Marseille Mini Autos  2003-05-25       50824.66
22              114    Australian Collectors, Co.  2003-05-31        7565.08
23              103             Atelier graphique  2003-06-05       14571.44
24              112            Signal Gift Stores  2003-06-06       32641.98
25              458    Corrida Auto Replicas, Ltd  2003-06-13       57131.92
26              151            Muscle Machine Inc  2003-06-18       58841.35
27              447              Gift Ideas Corp.  2003-06-25       17032.29
28              323    Down Under Souveniers, Inc  2003-07-05        2880.00
29              198       Auto-Moto Classics Inc.  2003-07-06        6036.96
..              ...                           ...         ...            ...
202             161          Technics Stores Inc.  2005-02-02       12692.19
203             381                  Royale Belge  2005-02-03       14379.90
204             205             Toys4GrownUps.com  2005-02-06       39580.60
205             276       Anna's Decorations, Ltd  2005-02-09       27083.78
206             379    Collectables For Less Inc.  2005-02-12       28322.83
207             398       Tokyo Collectables, Ltd  2005-02-14       33967.73
208             311       Oulu Toy Supplies, Inc.  2005-02-15       46770.52
209             119             La Rochelle Gifts  2005-02-22       49523.67
210             333   Australian Gift Network, Co  2005-03-01       21432.31
211             219             Boards & Toys Co.  2005-03-02        3452.75
212             124  Mini Gifts Distributors Ltd.  2005-03-05      101244.59
213             186          Toys of Finland, Co.  2005-03-10       23602.90
214             321      Corporate Gift Ideas Co.  2005-03-15       46781.66
215             141        Euro+ Shopping Channel  2005-03-18      120166.58
216             141        Euro+ Shopping Channel  2005-03-25       65071.26
217             148       Dragon Souveniers, Ltd.  2005-03-27        3516.04
218             462              FunGiftIdeas.com  2005-04-15       30293.77
219             124  Mini Gifts Distributors Ltd.  2005-04-16       83598.04
220             448       Scandinavian Gift Ideas  2005-04-18       27966.54
221             406             Auto Canal+ Petit  2005-04-23       12190.85
222             276       Anna's Decorations, Ltd  2005-04-30       29848.52
223             209                   Mini Caravy  2005-05-03       43964.87
224             250               Lyon Souveniers  2005-05-17       17928.09
225             398       Tokyo Collectables, Ltd  2005-05-18         615.45
226             141        Euro+ Shopping Channel  2005-05-19       75396.26
227             233  Québec Home Shopping Network  2005-05-20       29070.38
228             323    Down Under Souveniers, Inc  2005-05-23       75020.13
229             496             Kelly's Gift Shop  2005-05-25       30253.75
230             242                  Alpha Cognac  2005-06-03       12432.32
231             353            Reims Collectables  2005-06-09       46656.94

[232 rows x 4 columns]

### 4. Report the products that have not been sold.

In [16]:
run("""
SELECT 
    productCode, 
    productName,
    orderNumber AS statusSelling
FROM
    products
        LEFT JOIN
    orderdetails USING(productCode)
WHERE
    orderNumber IS NULL
""")

  productCode        productName statusSelling
0    S18_3233  1985 Toyota Supra          None

### 5. List the amount paid by each customer.

In [18]:
run("""
SELECT 
    customerNumber, 
    customerName,
    SUM(amount) AS totalPayments
FROM
    customers
        INNER JOIN
    payments USING(customerNumber)
GROUP BY
    customerNumber
""")

    customerNumber                        customerName  totalPayments
0              103                   Atelier graphique       22314.36
1              112                  Signal Gift Stores       80180.98
2              114          Australian Collectors, Co.      180585.07
3              119                   La Rochelle Gifts      116949.68
4              121                  Baane Mini Imports      104224.79
5              124        Mini Gifts Distributors Ltd.      584188.24
6              128                Blauer See Auto, Co.       75937.76
7              129                     Mini Wheels Co.       66710.56
8              131                   Land of Toys Inc.      107639.94
9              141              Euro+ Shopping Channel      715738.98
10             144            Volvo Model Replicas, Co       43680.65
11             145            Danish Wholesale Imports      107446.50
12             146              Saveley & Henriot, Co.      130305.35
13             148             Dragon Souveniers, Ltd.      156251.03
14             151                  Muscle Machine Inc      177913.95
15             157               Diecast Classics Inc.       98509.25
16             161                Technics Stores Inc.      104545.22
17             166                    Handji Gifts& Co      105420.57
18             167                        Herkku Gifts       97562.47
19             171            Daedalus Designs Imports       61781.70
20             172           La Corne D'abondance, Co.       86553.52
21             173          Cambridge Collectables Co.       32198.69
22             175                     Gift Depot Inc.       95424.63
23             177                Osaka Souveniers Co.       62361.22
24             181                     Vitachrome Inc.       72497.64
25             186                Toys of Finland, Co.       95546.46
26             187                      AV Stores, Co.      148410.09
27             189             Clover Collections, Co.       49898.27
28             198             Auto-Moto Classics Inc.       21554.26
29             201               UK Collectables, Ltd.       61167.18
..             ...                                 ...            ...
68             357                     GiftsForHim.com       56662.38
69             362                   Gifts4AllAges.com       33533.47
70             363        Online Diecast Creations Co.      116449.29
71             379          Collectables For Less Inc.       73533.65
72             381                        Royale Belge       29217.18
73             382               Salzburg Collectables       85060.00
74             385                     Cruz & Sons Co.       87468.30
75             386                 L'ordine Souveniers       90143.31
76             398             Tokyo Collectables, Ltd      105548.73
77             406                   Auto Canal+ Petit       86436.97
78             412       Extreme Desk Decorations, Ltd       66704.94
79             415  Bavarian Collectables Imports, Co.       31310.09
80             424                Classic Legends Inc.       69214.33
81             447                    Gift Ideas Corp.       49967.78
82             448             Scandinavian Gift Ideas       76776.44
83             450           The Sharp Gifts Warehouse       59551.38
84             452                     Mini Auto Werke       51059.99
85             455                    Super Scale Inc.       70378.65
86             456                     Microscale Inc.       29230.43
87             458          Corrida Auto Replicas, Ltd      112440.09
88             462                    FunGiftIdeas.com       88627.49
89             471        Australian Collectables, Ltd       44920.76
90             473                  Frau da Collezione       25358.32
91             475         West Coast Collectables Co.       43748.72
92             484          Iberia Gift Imports, Corp.       50987.85
93             486        Motor Mint Distributors Inc.       77726.59
94             487            Signal Collectibles Ltd.       42570.37
95             489      Double Decker Gift Stores, Ltd       29586.15
96             495                Diecast Collectables       65541.74
97             496                   Kelly's Gift Shop      114497.19

[98 rows x 3 columns]

### 6. How many orders have been placed by Herkku Gifts?

In [22]:
run("""
SELECT 
    customerNumber, 
    customerName, 
    COUNT(orderNumber) AS totalOrders
FROM
    customers
        INNER JOIN
    orders USING(customerNumber)
WHERE customerName='Herkku Gifts'
""")

   customerNumber  customerName  totalOrders
0             167  Herkku Gifts            3

### 7. Who are the employees in Boston?

In [21]:
run("""
SELECT 
    employeeNumber, 
    CONCAT(firstName, ' ', lastName) AS employeeName,
    email,
    officeCode,
    city,
    addressLine1
FROM
    employees
        INNER JOIN
    offices USING(officeCode)
WHERE city='Boston'
""")

,employeeNumber,employeeName,email,officeCode,city,addressLine1
0,1188,Julie Firrelli,jfirrelli@classicmodelcars.com,2,Boston,1550 Court Place
1,1216,Steve Patterson,spatterson@classicmodelcars.com,2,Boston,1550 Court Place

### 8. Report those payments greater than $100,000. Sort the report so the customer who made the highest payment appears first.

In [23]:
run("""
SELECT 
    customerNumber, 
    customerName, 
    SUM(amount) AS totalPayments
FROM
    customers
        INNER JOIN
    payments USING(customerNumber)
GROUP BY
    customerNumber
HAVING 
    totalPayments>100000
ORDER BY
    totalPayments DESC
""")

    customerNumber                  customerName  totalPayments
0              141        Euro+ Shopping Channel      715738.98
1              124  Mini Gifts Distributors Ltd.      584188.24
2              114    Australian Collectors, Co.      180585.07
3              151            Muscle Machine Inc      177913.95
4              148       Dragon Souveniers, Ltd.      156251.03
5              323    Down Under Souveniers, Inc      154622.08
6              187                AV Stores, Co.      148410.09
7              276       Anna's Decorations, Ltd      137034.22
8              321      Corporate Gift Ideas Co.      132340.78
9              146        Saveley & Henriot, Co.      130305.35
10             278                 Rovelli Gifts      127529.69
11             353            Reims Collectables      126983.19
12             119             La Rochelle Gifts      116949.68
13             363  Online Diecast Creations Co.      116449.29
14             496             Kelly's Gift Shop      114497.19
15             458    Corrida Auto Replicas, Ltd      112440.09
16             298               Vida Sport, Ltd      108777.92
17             131             Land of Toys Inc.      107639.94
18             145      Danish Wholesale Imports      107446.50
19             398       Tokyo Collectables, Ltd      105548.73
20             166              Handji Gifts& Co      105420.57
21             161          Technics Stores Inc.      104545.22
22             121            Baane Mini Imports      104224.79
23             334           Suominen Souveniers      103896.74
24             320           Mini Creations Ltd.      101872.52

### 9. List the value of 'On Hold' orders.

In [6]:
run("""
SELECT 
    orderNumber, 
    orderDate, 
    status,
    SUM(quantityOrdered*priceEach) AS totalValue
FROM
    orders
        INNER JOIN
    orderdetails USING(orderNumber)
WHERE
    status='On Hold'
GROUP BY
    orderNumber
""")

   orderNumber   orderDate   status  totalValue
0        10334  2004-11-19  On Hold    23014.17
1        10401  2005-04-03  On Hold    43525.04
2        10407  2005-04-22  On Hold    52229.55
3        10414  2005-05-06  On Hold    50806.85

### 10. Report the number of orders 'On Hold' for each customer.

In [15]:
run("""
SELECT 
    c.customerNumber, 
    customerName,
    COUNT(orderNumber) AS totalOnHold
FROM
    customers c
        LEFT JOIN
    orders o ON c.customerNumber=o.customerNumber
    AND o.status='On Hold'
GROUP BY
    customerNumber
ORDER BY
    totalOnHold DESC
""")

     customerNumber                       customerName  totalOnHold
0               328            Tekni Collectables Inc.            1
1               144           Volvo Model Replicas, Co            1
2               362                  Gifts4AllAges.com            1
3               450          The Sharp Gifts Warehouse            1
4               128               Blauer See Auto, Co.            0
5               216                 Enaco Distributors            0
6               452                    Mini Auto Werke            0
7               103                  Atelier graphique            0
8               201              UK Collectables, Ltd.            0
9               311            Oulu Toy Supplies, Inc.            0
10              412      Extreme Desk Decorations, Ltd            0
11              175                    Gift Depot Inc.            0
12              282          Souveniers And Things Co.            0
13              381                       Royale Belge            0
14              496                  Kelly's Gift Shop            0
15              166                   Handji Gifts& Co            0
16              250                    Lyon Souveniers            0
17              357                    GiftsForHim.com            0
18              480          Kremlin Collectables, Co.            0
19              233       Québec Home Shopping Network            0
20              339            Classic Gift Ideas, Inc            0
21              459                   Warburg Exchange            0
22              121                 Baane Mini Imports            0
23              206         Asian Shopping Network, Co            0
24              321           Corporate Gift Ideas Co.            0
25              447                   Gift Ideas Corp.            0
26              187                     AV Stores, Co.            0
27              299          Norway Gifts By Mail, Co.            0
28              398            Tokyo Collectables, Ltd            0
29              171           Daedalus Designs Imports            0
..              ...                                ...          ...
92              198            Auto-Moto Classics Inc.            0
93              307                   Der Hund Imports            0
94              409     Stuttgart Collectable Exchange            0
95              173         Cambridge Collectables Co.            0
96              278                      Rovelli Gifts            0
97              379         Collectables For Less Inc.            0
98              495               Diecast Collectables            0
99              161               Technics Stores Inc.            0
100             249                 Amica Models & Co.            0
101             356               SAR Distributors, Co            0
102             477                Mit Vergnügen & Co.            0
103             141             Euro+ Shopping Channel            0
104             227               Heintze Collectables            0
105             335          Cramer Spezialitäten, Ltd            0
106             458         Corrida Auto Replicas, Ltd            0
107             119                  La Rochelle Gifts            0
108             205                  Toys4GrownUps.com            0
109             320                Mini Creations Ltd.            0
110             443           Feuer Online Stores, Inc            0
111             186               Toys of Finland, Co.            0
112             298                    Vida Sport, Ltd            0
113             386                L'ordine Souveniers            0
114             169                  Porto Imports Co.            0
115             260  Royal Canadian Collectables, Ltd.            0
116             363       Online Diecast Creations Co.            0
117             486       Motor Mint Distributors Inc.            0
118             148            Dragon Souveniers, Ltd.            0
119             240                  giftsbymail.co.uk            0
120             348              Asian Treasures, Inc.            0
121             471       Australian Collectables, Ltd            0

[122 rows x 3 columns]

## Many to many relationship

### 1. List products sold by order date.

In [22]:
run("""
SELECT 
    pd.productCode, 
    productName,
    o.orderNumber,
    orderDate,
    status
FROM
    products pd
        INNER JOIN
    orderdetails od ON pd.productCode=od.productCode
        INNER JOIN
    orders o ON od.orderNumber=o.orderNumber
        AND o.status='Shipped'
ORDER BY
    orderDate DESC
""")

,productCode,productName,orderNumber,orderDate,status
0,S24_3371,1971 Alpine Renault 1600s,10419,2005-05-17,Shipped
1,S24_2972,1982 Lamborghini Diablo,10419,2005-05-17,Shipped
2,S12_1099,1968 Ford Mustang,10419,2005-05-17,Shipped
3,S18_3232,1992 Ferrari 360 Spider red,10419,2005-05-17,Shipped
4,S12_3990,1970 Plymouth Hemi Cuda,10419,2005-05-17,Shipped
5,S18_1984,1995 Honda Civic,10419,2005-05-17,Shipped
6,S12_4675,1969 Dodge Charger,10419,2005-05-17,Shipped
7,S18_1889,1948 Porsche 356-A Roadster,10419,2005-05-17,Shipped
8,S12_3380,1968 Dodge Charger,10419,2005-05-17,Shipped
9,S24_3856,1956 Porsche 356A Coupe,10419,2005-05-17,Shipped
10,S18_3685,1948 Porsche Type 356 Roadster,10419,2005-05-17,Shipped
11,S18_2870,1999 Indy 500 Monte Carlo SS,10419,2005-05-17,Shipped
12,S18_1129,1993 Mazda RX-7,10419,2005-05-17,Shipped
13,S18_1589,1965 Aston Martin DB5,10419,2005-05-17,Shipped
14,S24_2360,1982 Ducati 900 Monster,10418,2005-05-16,Shipped
15,S18_3782,1957 Vespa GS150,10418,2005-05-16,Shipped
16,S18_3278,1969 Dodge Super Bee,10418,2005-05-16,Shipped
17,S32_2206,1982 Ducati 996 R,10418,2005-05-16,Shipped
18,S50_4713,2002 Yamaha YZR M1,10418,2005-05-16,Shipped
19,S32_4485,1974 Ducati 350 Mk3 Desmo,10418,2005-05-16,Shipped
20,S24_4620,1961 Chevrolet Impala,10418,2005-05-16,Shipped
21,S18_3482,1976 Ford Gran Torino,10418,2005-05-16,Shipped
22,S18_4721,1957 Corvette Convertible,10418,2005-05-16,Shipped
23,S24_4278,1900s Vintage Tri-Plane,10416,2005-05-10,Shipped
24,S24_2000,1960 BSA Gold Star DBD34,10416,2005-05-10,Shipped
25,S700_3167,F/A 18 Hornet 1/72,10416,2005-05-10,Shipped
26,S18_1662,1980s Black Hawk Helicopter,10416,2005-05-10,Shipped
27,S18_2581,P-51-D Mustang,10416,2005-05-10,Shipped
28,S24_3949,Corsair F4U ( Bird Cage),10416,2005-05-10,Shipped
29,S700_2466,America West Airlines B757-200,10416,2005-05-10,Shipped
...,...,...,...,...,...
2741,S18_2238,1998 Chrysler Plymouth Prowler,10104,2003-01-31,Shipped
2742,S50_1514,1962 City of Detroit Streetcar,10104,2003-01-31,Shipped
2743,S32_2509,1954 Greyhound Scenicruiser,10104,2003-01-31,Shipped
2744,S50_1392,Diamond T620 Semi-Skirted Tanker,10104,2003-01-31,Shipped
2745,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,10103,2003-01-29,Shipped
2746,S18_2949,1913 Ford Model T Speedster,10103,2003-01-29,Shipped
2747,S18_4668,1939 Cadillac Limousine,10103,2003-01-29,Shipped
2748,S10_4962,1962 LanciaA Delta 16V,10103,2003-01-29,Shipped
2749,S18_4600,1940s Ford truck,10103,2003-01-29,Shipped
2750,S32_1268,1980’s GM Manhattan Express,10103,2003-01-29,Shipped
2751,S18_3136,18th Century Vintage Horse Carriage,10103,2003-01-29,Shipped
2752,S24_2300,1962 Volkswagen Microbus,10103,2003-01-29,Shipped
2753,S700_2824,1982 Camaro Z28,10103,2003-01-29,Shipped
2754,S24_4258,1936 Chrysler Airflow,10103,2003-01-29,Shipped
2755,S18_1097,1940 Ford Pickup Truck,10103,2003-01-29,Shipped
2756,S18_3320,1917 Maxwell Touring Car,10103,2003-01-29,Shipped
2757,S10_1949,1952 Alpine Renault 1300,10103,2003-01-29,Shipped
2758,S12_1666,1958 Setra Bus,10103,2003-01-29,Shipped
2759,S18_2957,1934 Ford V8 Coupe,10103,2003-01-29,Shipped
2760,S18_2432,1926 Ford Fire Engine,10103,2003-01-29,Shipped
2761,S18_1342,1937 Lincoln Berline,10102,2003-01-10,Shipped
2762,S18_1367,1936 Mercedes-Benz 500K Special Roadster,10102,2003-01-10,Shipped
2763,S24_2022,1938 Cadillac V-16 Presidential Limousine,10101,2003-01-09,Shipped
2764,S18_2325,1932 Model A Ford J-Coupe,10101,2003-01-09,Shipped
2765,S18_2795,1928 Mercedes-Benz SSK,10101,2003-01-09,Shipped
2766,S24_1937,1939 Chevrolet Deluxe Coupe,10101,2003-01-09,Shipped
2767,S18_2248,1911 Ford Town Car,10100,2003-01-06,Shipped
2768,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,10100,2003-01-06,Shipped
2769,S18_1749,1917 Grand Touring Sedan,10100,2003-01-06,Shipped
2770,S24_3969,1936 Mercedes Benz 500k Roadster,10100,2003-01-06,Shipped

### 2. List the order dates in descending order for orders for the 1940 Ford Pickup Truck.

In [23]:
run("""
SELECT 
    o.orderNumber, 
    orderDate,
    status,
    productName
FROM
    orders o
        INNER JOIN
    orderdetails od ON od.orderNumber=o.orderNumber
        INNER JOIN
    products pd ON pd.productCode=od.productCode
        AND pd.productName='1940 Ford Pickup Truck'
ORDER BY
    orderDate DESC
""")

    orderNumber   orderDate      status             productName
0         10424  2005-05-31  In Process  1940 Ford Pickup Truck
1         10411  2005-05-01     Shipped  1940 Ford Pickup Truck
2         10391  2005-03-09     Shipped  1940 Ford Pickup Truck
3         10381  2005-02-17     Shipped  1940 Ford Pickup Truck
4         10370  2005-01-20     Shipped  1940 Ford Pickup Truck
5         10357  2004-12-10     Shipped  1940 Ford Pickup Truck
6         10347  2004-11-29     Shipped  1940 Ford Pickup Truck
7         10333  2004-11-18     Shipped  1940 Ford Pickup Truck
8         10322  2004-11-04     Shipped  1940 Ford Pickup Truck
9         10312  2004-10-21     Shipped  1940 Ford Pickup Truck
10        10304  2004-10-11     Shipped  1940 Ford Pickup Truck
11        10291  2004-09-08     Shipped  1940 Ford Pickup Truck
12        10280  2004-08-17     Shipped  1940 Ford Pickup Truck
13        10270  2004-07-19     Shipped  1940 Ford Pickup Truck
14        10258  2004-06-15     Shipped  1940 Ford Pickup Truck
15        10245  2004-05-04     Shipped  1940 Ford Pickup Truck
16        10228  2004-03-10     Shipped  1940 Ford Pickup Truck
17        10215  2004-01-29     Shipped  1940 Ford Pickup Truck
18        10206  2003-12-05     Shipped  1940 Ford Pickup Truck
19        10194  2003-11-25     Shipped  1940 Ford Pickup Truck
20        10183  2003-11-13     Shipped  1940 Ford Pickup Truck
21        10174  2003-11-06     Shipped  1940 Ford Pickup Truck
22        10164  2003-10-21    Resolved  1940 Ford Pickup Truck
23        10150  2003-09-19     Shipped  1940 Ford Pickup Truck
24        10140  2003-07-24     Shipped  1940 Ford Pickup Truck
25        10126  2003-05-28     Shipped  1940 Ford Pickup Truck
26        10113  2003-03-26     Shipped  1940 Ford Pickup Truck
27        10103  2003-01-29     Shipped  1940 Ford Pickup Truck

### 3. List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?

In [40]:
run("""
SELECT 
    c.customerNumber, 
    customerName,
    o.orderNumber,
    orderDate,
    SUM(quantityOrdered*priceEach) AS totalValue
FROM
    customers c
        INNER JOIN
    orders o ON c.customerNumber=o.customerNumber
        INNER JOIN
    orderdetails od ON od.orderNumber=o.orderNumber
GROUP BY
    orderNumber
HAVING
    totalValue>25000
ORDER BY
    orderDate DESC
""")

,customerNumber,customerName,orderNumber,orderDate,totalValue
0,141,Euro+ Shopping Channel,10424,2005-05-31,29310.30
1,119,La Rochelle Gifts,10425,2005-05-31,41623.44
2,282,Souveniers And Things Co.,10420,2005-05-29,42251.51
3,382,Salzburg Collectables,10419,2005-05-17,52420.07
4,141,Euro+ Shopping Channel,10417,2005-05-13,28574.90
5,386,L'ordine Souveniers,10416,2005-05-10,35362.26
6,362,Gifts4AllAges.com,10414,2005-05-06,50806.85
7,175,Gift Depot Inc.,10413,2005-05-05,28500.78
8,141,Euro+ Shopping Channel,10412,2005-05-03,46895.48
9,233,Québec Home Shopping Network,10411,2005-05-01,29070.38
10,357,GiftsForHim.com,10410,2005-04-29,36442.34
11,450,The Sharp Gifts Warehouse,10407,2005-04-22,52229.55
12,209,Mini Caravy,10405,2005-04-14,35157.75
13,201,"UK Collectables, Ltd.",10403,2005-04-08,37258.94
14,323,"Down Under Souveniers, Inc",10404,2005-04-08,41426.81
15,328,Tekni Collectables Inc.,10401,2005-04-03,43525.04
16,450,The Sharp Gifts Warehouse,10400,2005-04-01,31755.34
17,496,Kelly's Gift Shop,10399,2005-04-01,30253.75
18,353,Reims Collectables,10398,2005-03-30,46656.94
19,124,Mini Gifts Distributors Ltd.,10396,2005-03-23,27695.54
20,323,"Down Under Souveniers, Inc",10393,2005-03-11,33593.32
21,276,"Anna's Decorations, Ltd",10391,2005-03-09,29848.52
22,124,Mini Gifts Distributors Ltd.,10390,2005-03-04,55902.50
23,462,FunGiftIdeas.com,10388,2005-03-03,30293.77
24,448,Scandinavian Gift Ideas,10389,2005-03-03,27966.54
25,141,Euro+ Shopping Channel,10386,2005-03-01,46968.52
26,141,Euro+ Shopping Channel,10383,2005-02-22,36851.98
27,321,Corporate Gift Ideas Co.,10381,2005-02-17,32626.09
28,124,Mini Gifts Distributors Ltd.,10382,2005-02-17,47765.59
29,141,Euro+ Shopping Channel,10380,2005-02-16,34404.21
...,...,...,...,...,...
162,299,"Norway Gifts By Mail, Co.",10301,2003-10-05,36798.88
163,141,Euro+ Shopping Channel,10153,2003-09-28,44939.85
164,311,"Oulu Toy Supplies, Inc.",10151,2003-09-21,32723.04
165,148,"Dragon Souveniers, Ltd.",10150,2003-09-19,38350.15
166,487,Signal Collectibles Ltd.,10149,2003-09-12,29997.09
167,276,"Anna's Decorations, Ltd",10148,2003-09-11,41554.73
168,379,Collectables For Less Inc.,10147,2003-09-05,32680.31
169,205,Toys4GrownUps.com,10145,2003-08-25,50342.74
170,320,Mini Creations Ltd.,10143,2003-08-10,41016.75
171,124,Mini Gifts Distributors Ltd.,10142,2003-08-08,56052.56
172,334,Suominen Souveniers,10141,2003-08-01,29716.86
173,161,Technics Stores Inc.,10140,2003-07-24,38675.13
174,496,Kelly's Gift Shop,10138,2003-07-07,32077.44
175,124,Mini Gifts Distributors Ltd.,10135,2003-07-02,55601.84
176,324,"Stylish Desk Decors, Co.",10129,2003-06-12,29429.14
177,151,Muscle Machine Inc,10127,2003-06-03,58841.35
178,458,"Corrida Auto Replicas, Ltd",10126,2003-05-28,57131.92
179,112,Signal Gift Stores,10124,2003-05-21,32641.98
180,350,Marseille Mini Autos,10122,2003-05-08,50824.66
181,114,"Australian Collectors, Co.",10120,2003-04-29,45864.03
182,382,Salzburg Collectables,10119,2003-04-28,35826.33
183,148,"Dragon Souveniers, Ltd.",10117,2003-04-16,44380.15
184,172,"La Corne D'abondance, Co.",10114,2003-04-01,33383.14
185,187,"AV Stores, Co.",10110,2003-03-18,48425.69
186,486,Motor Mint Distributors Inc.,10109,2003-03-10,25833.14
187,385,Cruz & Sons Co.,10108,2003-03-03,51001.22
188,278,Rovelli Gifts,10106,2003-02-17,52151.81
189,145,Danish Wholesale Imports,10105,2003-02-11,53959.21
190,141,Euro+ Shopping Channel,10104,2003-01-31,40206.20
191,121,Baane Mini Imports,10103,2003-01-29,50218.95

### 4. Are there any products that appear on all orders?

In [55]:
run("""
SELECT 
    productCode,
    productName,
    COUNT(productCode) AS totalAppear
FROM 
    orderdetails 
        INNER JOIN
    products USING(productCode)
GROUP BY 
    productCode 
HAVING 
    totalAppear=(SELECT COUNT(*) from orders);
""")

Empty DataFrame
Columns: [productCode, productName, totalAppear]
Index: []

### 5. List the names of products sold at less than 80% of the MSRP.

In [62]:
run("""
SELECT 
    pd.productCode, 
    productName,
    MSRP,
    o.orderNumber,
    orderDate,
    status,
    priceEach
FROM
    products pd
        INNER JOIN
    orderdetails od ON pd.productCode=od.productCode
        INNER JOIN
    orders o ON od.orderNumber=o.orderNumber
        AND o.status='Shipped'
WHERE
    priceEach < (MSRP * .8)
ORDER BY
    orderDate DESC
""")

,productCode,productName,MSRP,orderNumber,orderDate,status,priceEach
0,S24_3856,1956 Porsche 356A Coupe,140.43,10419,2005-05-17,Shipped,112.34
1,S18_3232,1992 Ferrari 360 Spider red,169.34,10394,2005-03-15,Shipped,135.47
2,S24_1937,1939 Chevrolet Deluxe Coupe,33.19,10391,2005-03-09,Shipped,26.55
3,S32_1374,1997 BMW F650 ST,99.89,10387,2005-03-02,Shipped,79.91
4,S24_3969,1936 Mercedes Benz 500k Roadster,41.03,10380,2005-02-16,Shipped,32.82
5,S18_1662,1980s Black Hawk Helicopter,157.69,10360,2004-12-16,Shipped,126.15
6,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,64.64,10358,2004-12-10,Shipped,51.71
7,S18_1342,1937 Lincoln Berline,102.74,10356,2004-12-09,Shipped,82.19
8,S18_3482,1976 Ford Gran Torino,146.99,10355,2004-12-07,Shipped,117.59
9,S10_2016,1996 Moto Guzzi 1100i,118.94,10354,2004-12-04,Shipped,95.15
10,S700_1691,American Airlines: B767-300,91.34,10353,2004-12-04,Shipped,73.07
11,S24_2011,18th century schooner,122.89,10350,2004-12-02,Shipped,98.31
12,S24_3856,1956 Porsche 356A Coupe,140.43,10342,2004-11-24,Shipped,112.34
13,S18_1589,1965 Aston Martin DB5,124.44,10331,2004-11-17,Shipped,99.55
14,S18_4600,1940s Ford truck,121.08,10323,2004-11-05,Shipped,96.86
15,S24_1937,1939 Chevrolet Deluxe Coupe,33.19,10322,2004-11-04,Shipped,26.55
16,S24_2300,1962 Volkswagen Microbus,127.79,10313,2004-10-22,Shipped,102.23
17,S18_2248,1911 Ford Town Car,60.54,10312,2004-10-21,Shipped,48.43
18,S700_1691,American Airlines: B767-300,91.34,10308,2004-10-15,Shipped,73.07
19,S18_4600,1940s Ford truck,121.08,10291,2004-09-08,Shipped,96.86
20,S18_1129,1993 Mazda RX-7,141.54,10287,2004-08-30,Shipped,113.23
21,S18_3232,1992 Ferrari 360 Spider red,169.34,10281,2004-08-19,Shipped,135.47
22,S18_4600,1940s Ford truck,121.08,10281,2004-08-19,Shipped,96.86
23,S700_2610,The USS Constitution Ship,72.28,10273,2004-07-21,Shipped,57.82
24,S24_2887,1952 Citroen-15CV,117.44,10267,2004-07-07,Shipped,93.95
25,S18_1589,1965 Aston Martin DB5,124.44,10266,2004-07-06,Shipped,99.55
26,S18_2581,P-51-D Mustang,84.48,10263,2004-06-28,Shipped,67.58
27,S18_3232,1992 Ferrari 360 Spider red,169.34,10239,2004-04-12,Shipped,135.47
28,S18_2581,P-51-D Mustang,84.48,10223,2004-02-20,Shipped,67.58
29,S32_3207,1950's Chicago Surface Lines Streetcar,62.14,10220,2004-02-12,Shipped,49.71
30,S24_3856,1956 Porsche 356A Coupe,140.43,10192,2003-11-20,Shipped,112.34
31,S50_1514,1962 City of Detroit Streetcar,58.58,10185,2003-11-14,Shipped,46.86
32,S24_3969,1936 Mercedes Benz 500k Roadster,41.03,10162,2003-10-18,Shipped,32.82
33,S18_3232,1992 Ferrari 360 Spider red,169.34,10301,2003-10-05,Shipped,135.47
34,S24_3371,1971 Alpine Renault 1600s,61.23,10147,2003-09-05,Shipped,48.98
35,S18_1662,1980s Black Hawk Helicopter,157.69,10143,2003-08-10,Shipped,126.15
36,S50_1341,1930 Buick Marquette Phaeton,43.64,10143,2003-08-10,Shipped,34.91
37,S24_3969,1936 Mercedes Benz 500k Roadster,41.03,10138,2003-07-07,Shipped,32.82
38,S24_3949,Corsair F4U ( Bird Cage),68.24,10131,2003-06-16,Shipped,54.59
39,S18_3259,Collectable Wooden Train,100.84,10128,2003-06-06,Shipped,80.67
40,S24_2887,1952 Citroen-15CV,117.44,10124,2003-05-21,Shipped,93.95
41,S24_2300,1962 Volkswagen Microbus,127.79,10114,2003-04-01,Shipped,102.23

### 6. Reports those products that have been sold with a markup of 100% or more (i.e., the priceEach is at least twice the buyPrice)

In [64]:
run("""
SELECT 
    pd.productCode, 
    productName,
    buyPrice,
    o.orderNumber,
    orderDate,
    status,
    priceEach
FROM
    products pd
        INNER JOIN
    orderdetails od ON pd.productCode=od.productCode
        INNER JOIN
    orders o ON od.orderNumber=o.orderNumber
        AND o.status='Shipped'
WHERE
    priceEach > (buyPrice * 2)
ORDER BY
    orderDate DESC
""")

,productCode,productName,buyPrice,orderNumber,orderDate,status,priceEach
0,S12_3990,1970 Plymouth Hemi Cuda,31.92,10419,2005-05-17,Shipped,64.64
1,S18_2870,1999 Indy 500 Monte Carlo SS,56.76,10419,2005-05-17,Shipped,116.16
2,S18_3232,1992 Ferrari 360 Spider red,77.90,10419,2005-05-17,Shipped,165.95
3,S24_4620,1961 Chevrolet Impala,32.33,10418,2005-05-16,Shipped,66.29
4,S50_4713,2002 Yamaha YZR M1,34.17,10418,2005-05-16,Shipped,72.41
5,S24_3949,Corsair F4U ( Bird Cage),29.34,10416,2005-05-10,Shipped,64.83
6,S32_4289,1928 Ford Phaeton Deluxe,33.02,10416,2005-05-10,Shipped,68.10
7,S12_1108,2001 Ferrari Enzo,95.59,10413,2005-05-05,Shipped,201.57
8,S12_3891,1969 Ford Falcon,83.05,10413,2005-05-05,Shipped,173.02
9,S32_3207,1950's Chicago Surface Lines Streetcar,26.72,10413,2005-05-05,Shipped,56.55
10,S18_3232,1992 Ferrari 360 Spider red,77.90,10412,2005-05-03,Shipped,157.49
11,S24_2840,1958 Chevy Corvette Limited Edition,15.91,10412,2005-05-03,Shipped,32.88
12,S10_1949,1952 Alpine Renault 1300,98.58,10411,2005-05-01,Shipped,205.73
13,S18_1367,1936 Mercedes-Benz 500K Special Roadster,24.26,10410,2005-04-29,Shipped,51.21
14,S18_2795,1928 Mercedes-Benz SSK,72.56,10410,2005-04-29,Shipped,145.13
15,S24_2022,1938 Cadillac V-16 Presidential Limousine,20.61,10410,2005-04-29,Shipped,42.56
16,S24_2972,1982 Lamborghini Diablo,16.24,10405,2005-04-14,Shipped,37.38
17,S12_3990,1970 Plymouth Hemi Cuda,31.92,10404,2005-04-08,Shipped,67.03
18,S24_4620,1961 Chevrolet Impala,32.33,10404,2005-04-08,Shipped,65.48
19,S18_2625,1936 Harley Davidson El Knucklehead,24.23,10402,2005-04-07,Shipped,58.15
20,S24_3420,1937 Horch 930V Limousine,26.30,10400,2005-04-01,Shipped,59.18
21,S700_2047,HMS Bounty,39.83,10400,2005-04-01,Shipped,82.37
22,S18_2625,1936 Harley Davidson El Knucklehead,24.23,10399,2005-04-01,Shipped,51.48
23,S24_2000,1960 BSA Gold Star DBD34,37.32,10399,2005-04-01,Shipped,75.41
24,S24_3420,1937 Horch 930V Limousine,26.30,10398,2005-03-30,Shipped,61.15
25,S12_1108,2001 Ferrari Enzo,95.59,10395,2005-03-17,Shipped,205.72
26,S24_2840,1958 Chevy Corvette Limited Edition,15.91,10394,2005-03-15,Shipped,35.36
27,S32_3207,1950's Chicago Surface Lines Streetcar,26.72,10394,2005-03-15,Shipped,55.93
28,S18_2432,1926 Ford Fire Engine,24.92,10391,2005-03-09,Shipped,57.73
29,S18_2795,1928 Mercedes-Benz SSK,72.56,10390,2005-03-04,Shipped,162.00
...,...,...,...,...,...,...,...
402,S50_4713,2002 Yamaha YZR M1,34.17,10121,2003-05-07,Shipped,72.41
403,S18_2625,1936 Harley Davidson El Knucklehead,24.23,10120,2003-04-29,Shipped,57.54
404,S32_4289,1928 Ford Phaeton Deluxe,33.02,10120,2003-04-29,Shipped,68.79
405,S24_3420,1937 Horch 930V Limousine,26.30,10119,2003-04-28,Shipped,63.12
406,S24_3949,Corsair F4U ( Bird Cage),29.34,10119,2003-04-28,Shipped,62.10
407,S12_1108,2001 Ferrari Enzo,95.59,10117,2003-04-16,Shipped,195.33
408,S12_3891,1969 Ford Falcon,83.05,10117,2003-04-16,Shipped,173.02
409,S32_3207,1950's Chicago Surface Lines Streetcar,26.72,10116,2003-04-11,Shipped,60.28
410,S18_2432,1926 Ford Fire Engine,24.92,10114,2003-04-01,Shipped,53.48
411,S18_3232,1992 Ferrari 360 Spider red,77.90,10114,2003-04-01,Shipped,169.34
412,S18_2795,1928 Mercedes-Benz SSK,72.56,10110,2003-03-18,Shipped,163.69
413,S18_2870,1999 Indy 500 Monte Carlo SS,56.76,10109,2003-03-10,Shipped,126.72
414,S18_3232,1992 Ferrari 360 Spider red,77.90,10109,2003-03-10,Shipped,160.87
415,S18_3685,1948 Porsche Type 356 Roadster,62.16,10109,2003-03-10,Shipped,125.74
416,S12_3990,1970 Plymouth Hemi Cuda,31.92,10108,2003-03-03,Shipped,75.81
417,S18_4721,1957 Corvette Convertible,69.93,10108,2003-03-03,Shipped,139.87
418,S24_4620,1961 Chevrolet Impala,32.33,10108,2003-03-03,Shipped,67.10
419,S50_4713,2002 Yamaha YZR M1,34.17,10108,2003-03-03,Shipped,74.85
420,S18_2625,1936 Harley Davidson El Knucklehead,24.23,10107,2003-02-24,Shipped,52.70
421,S24_3420,1937 Horch 930V Limousine,26.30,10106,2003-02-17,Shipped,55.89
422,S700_2047,HMS Bounty,39.83,10106,2003-02-17,Shipped,85.09
423,S12_1108,2001 Ferrari Enzo,95.59,10105,2003-02-11,Shipped,205.72
424,S700_1938,The Mayflower,43.30,10105,2003-02-11,Shipped,86.61
425,S18_3232,1992 Ferrari 360 Spider red,77.90,10104,2003-01-31,Shipped,165.95
426,S32_3207,1950's Chicago Surface Lines Streetcar,26.72,10104,2003-01-31,Shipped,56.55
427,S10_1949,1952 Alpine Renault 1300,98.58,10103,2003-01-29,Shipped,214.30
428,S18_2432,1926 Ford Fire Engine,24.92,10103,2003-01-29,Shipped,58.34
429,S700_2824,1982 Camaro Z28,46.53,10103,2003-01-29,Shipped,94.07
430,S18_2795,1928 Mercedes-Benz SSK,72.56,10101,2003-01-09,Shipped,167.06
431,S24_2022,1938 Cadillac V-16 Presidential Limousine,20.61,10101,2003-01-09,Shipped,44.35

### 7. List the products ordered on a Monday.

In [71]:
run("""
SELECT 
    pd.productCode, 
    productName,
    o.orderNumber,
    orderDate,
    DAYNAME(orderDate) AS dayOrder,
    status
FROM
    products pd
        INNER JOIN
    orderdetails od ON pd.productCode=od.productCode
        INNER JOIN
    orders o ON od.orderNumber=o.orderNumber
WHERE
    DAYNAME(orderDate)='Monday'
ORDER BY
    orderDate DESC
""")

,productCode,productName,orderNumber,orderDate,dayOrder,status
0,S18_2949,1913 Ford Model T Speedster,10423,2005-05-30,Monday,In Process
1,S18_2957,1934 Ford V8 Coupe,10423,2005-05-30,Monday,In Process
2,S18_3136,18th Century Vintage Horse Carriage,10423,2005-05-30,Monday,In Process
3,S18_3320,1917 Maxwell Touring Car,10423,2005-05-30,Monday,In Process
4,S24_4258,1936 Chrysler Airflow,10423,2005-05-30,Monday,In Process
5,S18_1342,1937 Lincoln Berline,10422,2005-05-30,Monday,In Process
6,S18_1367,1936 Mercedes-Benz 500K Special Roadster,10422,2005-05-30,Monday,In Process
7,S18_3278,1969 Dodge Super Bee,10418,2005-05-16,Monday,Shipped
8,S18_3482,1976 Ford Gran Torino,10418,2005-05-16,Monday,Shipped
9,S18_3782,1957 Vespa GS150,10418,2005-05-16,Monday,Shipped
10,S18_4721,1957 Corvette Convertible,10418,2005-05-16,Monday,Shipped
11,S24_2360,1982 Ducati 900 Monster,10418,2005-05-16,Monday,Shipped
12,S24_4620,1961 Chevrolet Impala,10418,2005-05-16,Monday,Shipped
13,S32_2206,1982 Ducati 996 R,10418,2005-05-16,Monday,Shipped
14,S32_4485,1974 Ducati 350 Mk3 Desmo,10418,2005-05-16,Monday,Shipped
15,S50_4713,2002 Yamaha YZR M1,10418,2005-05-16,Monday,Shipped
16,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,10415,2005-05-09,Monday,Disputed
17,S24_2841,1900s Vintage Bi-Plane,10415,2005-05-09,Monday,Disputed
18,S24_3420,1937 Horch 930V Limousine,10415,2005-05-09,Monday,Disputed
19,S700_2047,HMS Bounty,10415,2005-05-09,Monday,Disputed
20,S72_1253,Boeing X-32A JSF,10415,2005-05-09,Monday,Disputed
21,S700_1938,The Mayflower,10397,2005-03-28,Monday,Shipped
22,S700_2610,The USS Constitution Ship,10397,2005-03-28,Monday,Shipped
23,S700_3505,The Titanic,10397,2005-03-28,Monday,Shipped
24,S700_3962,The Queen Mary,10397,2005-03-28,Monday,Shipped
25,S72_3212,Pont Yacht,10397,2005-03-28,Monday,Shipped
26,S24_3816,1940 Ford Delivery Sedan,10385,2005-02-28,Monday,Shipped
27,S700_1138,The Schooner Bluenose,10385,2005-02-28,Monday,Shipped
28,S10_4757,1972 Alfa Romeo GTA,10373,2005-01-31,Monday,Shipped
29,S18_1662,1980s Black Hawk Helicopter,10373,2005-01-31,Monday,Shipped
...,...,...,...,...,...,...
377,S10_1678,1969 Harley Davidson Ultimate Chopper,10107,2003-02-24,Monday,Shipped
378,S10_2016,1996 Moto Guzzi 1100i,10107,2003-02-24,Monday,Shipped
379,S10_4698,2003 Harley-Davidson Eagle Drag Bike,10107,2003-02-24,Monday,Shipped
380,S12_2823,2002 Suzuki XREO,10107,2003-02-24,Monday,Shipped
381,S18_2625,1936 Harley Davidson El Knucklehead,10107,2003-02-24,Monday,Shipped
382,S24_1578,1997 BMW R 1100 S,10107,2003-02-24,Monday,Shipped
383,S24_2000,1960 BSA Gold Star DBD34,10107,2003-02-24,Monday,Shipped
384,S32_1374,1997 BMW F650 ST,10107,2003-02-24,Monday,Shipped
385,S18_1662,1980s Black Hawk Helicopter,10106,2003-02-17,Monday,Shipped
386,S18_2581,P-51-D Mustang,10106,2003-02-17,Monday,Shipped
387,S18_3029,1999 Yamaha Speed Boat,10106,2003-02-17,Monday,Shipped
388,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,10106,2003-02-17,Monday,Shipped
389,S24_1785,1928 British Royal Navy Airplane,10106,2003-02-17,Monday,Shipped
390,S24_2841,1900s Vintage Bi-Plane,10106,2003-02-17,Monday,Shipped
391,S24_3420,1937 Horch 930V Limousine,10106,2003-02-17,Monday,Shipped
392,S24_3949,Corsair F4U ( Bird Cage),10106,2003-02-17,Monday,Shipped
393,S24_4278,1900s Vintage Tri-Plane,10106,2003-02-17,Monday,Shipped
394,S32_4289,1928 Ford Phaeton Deluxe,10106,2003-02-17,Monday,Shipped
395,S50_1341,1930 Buick Marquette Phaeton,10106,2003-02-17,Monday,Shipped
396,S700_1691,American Airlines: B767-300,10106,2003-02-17,Monday,Shipped
397,S700_2047,HMS Bounty,10106,2003-02-17,Monday,Shipped
398,S700_2466,America West Airlines B757-200,10106,2003-02-17,Monday,Shipped
399,S700_2834,ATA: B757-300,10106,2003-02-17,Monday,Shipped
400,S700_3167,F/A 18 Hornet 1/72,10106,2003-02-17,Monday,Shipped
401,S700_4002,American Airlines: MD-11S,10106,2003-02-17,Monday,Shipped
402,S72_1253,Boeing X-32A JSF,10106,2003-02-17,Monday,Shipped
403,S18_1749,1917 Grand Touring Sedan,10100,2003-01-06,Monday,Shipped
404,S18_2248,1911 Ford Town Car,10100,2003-01-06,Monday,Shipped
405,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,10100,2003-01-06,Monday,Shipped
406,S24_3969,1936 Mercedes Benz 500k Roadster,10100,2003-01-06,Monday,Shipped

### 8. What is the quantity on hand for products listed on 'On Hold' orders?

In [72]:
run("""
SELECT 
    orderNumber, 
    orderDate, 
    status,
    SUM(quantityOrdered) AS totalQuantity
FROM
    orders
        INNER JOIN
    orderdetails USING(orderNumber)
WHERE
    status='On Hold'
GROUP BY
    orderNumber
""")

   orderNumber   orderDate   status  totalQuantity
0        10334  2004-11-19  On Hold          217.0
1        10401  2005-04-03  On Hold          597.0
2        10407  2005-04-22  On Hold          571.0
3        10414  2005-05-06  On Hold          609.0